{
	"extends": [
		"@pumpn"
	],
	"rules": {
		"quote-props": [
			"error",
			"as-needed",
			{
				"numbers": true
			}
		],
		"no-spaced-func": "off"
	},
	"settings": {
		"polyfills": [
			"Array",
			"Number",
			"Object",
			"Promise",
			"Set"
		]
	}
}